@{
    ViewBag.Title = "Juego - PreguntadORT";
    string username = ViewBag.Username; // Ahora obtenemos el username del ViewBag
    int puntajeActual = ViewBag.PuntajeActual; // También el puntaje actual del ViewBag
    Pregunta pregunta = ViewBag.Pregunta;
    List<Respuesta> respuestas = ViewBag.Respuestas;
}

<section class="seccion-interna juego">
    <div id="header">
        <h2>@ViewBag.Username - Puntaje: @ViewBag.PuntajeActual</h2>
    </div>

    <div class="question-container">
        <h3>@ViewBag.Pregunta.Enunciado</h3>
        @if (!string.IsNullOrEmpty(@ViewBag.Pregunta.Foto))
        {
            <img src="~/images/@ViewBag.Pregunta.Foto" alt="Imagen de la pregunta" class="imagen-pregunta"/>
        }
    </div>

    <form asp-action="VerificarRespuesta" method="post">
        <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />
        <div class="response-container">
            @foreach (var respuesta in @ViewBag.Respuestas)
            {
                <button type="submit" name="idRespuesta" value="@respuesta.IdRespuesta" class="btn-respuesta">
                    <span>@respuesta.Contenido</span>
                </button>
            }
        </div>
    </form>
</section>